.selectedPage{
    font-weight: bold;
}
.itemPage{
    background: white;
    cursor: pointer;
    padding: 0.1rem;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10%;
}
.paginationWrapper{
    margin: 20px;
    display: flex;
}